<%- include('../layout/header') %>

<div class="main-content">
    <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
          <div class="page-header d-flex align-items-center" style="background-image: url('');">
          <div class="container position-relative">
              <div class="row d-flex justify-content-center">
              <div class="col-lg-7 text-center">
                  <h2> BTS’s V Announced As Ambassador For Cartier </h2>
              </div>
              </div>
          </div>
          </div>
      </div><!-- End Breadcrumbs -->
      
      <section id="blog" class="blog">
          <div class="container" data-aos="fade-up">
              <div class="row g-5">
                <div class="col">
                  <article class="blog-details">
                    <div class="post-img-detail">
                      <img src="https://asset.kompas.com/crops/H8FbxA1VvfKNmiAmNuODe-yCqxY=/164x0:1756x1061/750x500/data/photo/2023/09/20/650a887e896c5.jpg"
                      alt="" class="img-fluid">
                    </div>
                    <div class="meta-top">
                      <ul>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                            person
                          </i> S. Nam
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                              schedule
                          </i> Jul 19, 2023
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                              style
                          </i> K-pop, Style
                        </li>
                      </ul>
                    </div><!-- End meta top -->
                    <div class="content">
                      <p>
                          BTS’s V is the newest face of Cartier!
                          <br>
                          <br>
                          On July 19, Cartier announced that V is the newest face of the Panthére De Cartier campaign as an ambassador for the luxury brand.
                          <br>
                          <br>
                          Arnaud Carrez, the International Senior Vice President of Cartier and Chief Marketing Officer shared, “We naturally selected V in order to express a panther’s charm and aura. V, who is overflowing with individuality and a powerful aura, will make decisions driven by his creativity as a dancer, musician, and art lover, and he will showcase a style of his own as well as his grace.”
                      </p>

                      <h3>Photo 1</h3>
                      <img src="https://0.soompi.io/wp-content/uploads/2023/07/18205242/BTS-V-5.jpeg" alt="" width="90%">
                      <h3>Photo 2</h3>
                      <img src="https://cdn.tatlerasia.com/tatlerasia/i/2023/09/13150143-puje11088-panthere-figurative-men-static-1080x1350_cover_1080x1350.jpg" alt="" width="90%">
                      <h3>Photo 3</h3>
                      <img src="https://cdn.tatlerasia.com/tatlerasia/i/2023/09/13150143-puje11091-panthere-figurative-men-static-1080x1350_cover_1080x1350.jpg" alt="" width="90%">
                      <h3>Photo 4</h3>
                      <img src="https://cdn.tatlerasia.com/tatlerasia/i/2023/09/13150143-puje11090-panthere-figurative-men-static-1080x1350_cover_1080x1350.jpg" alt="" width="90%">
                      

                      
                    </div><!-- End post content -->    
                  </article><!-- End blog post -->
              </div>
          </div>
      </section>
  </div>

<%- include('../layout/footer') %>