<%- include('../layout/header') %>

<div class="main-content">
      <div class="breadcrumbs">
          <div class="page-header d-flex align-items-center" style="background-image: url('');">
          <div class="container position-relative">
              <div class="row d-flex justify-content-center">
              <div class="col-lg-7 text-center">
                  <h2> How to Build Passion in Yourself </h2>
              </div>
              </div>
          </div>
          </div>
      </div><!-- End Breadcrumbs -->
      
      <section id="blog" class="blog">
          <div class="container" data-aos="fade-up">
              <div class="row g-5">
                <div class="col">
                  <article class="blog-details">
                    <div class="post-img-detail">
                      <img src="https://extremeyou.com/wp-content/uploads/2017/03/XU_BL_Passion_Featured.jpg" 
                      alt="" class="img-fluid">
                    </div>
                    <div class="meta-top">
                      <ul>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                            person
                          </i> Agus Pratama
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                              schedule
                          </i> Sep 20, 2023
                        </li>
                        <li class="d-flex align-items-center">
                          <i class="material-symbols-outlined">
                              style
                          </i> Soft Skill, education
                        </li>
                      </ul>
                    </div><!-- End meta top -->
                    <div class="content">
                      <p>
                          The passion or passion for life that is embedded within some people doesn't 
                          always seem to be able to appear on the surface because for one reason or 
                          another they decide to keep it to themselves even though that passion may be something they 
                          really like and are interested in.
                      </p>
      
                      <p>
                          Several factors such as job demands, the economy, personality, or even physical conditions are some 
                          of the things that prevent some people from deeply embracing their passion. However, as we know, opportunities
                          are always there and can come at any time, including to awaken the passion within us, 
                          whether it is passion in a hobby, dream job, or a dream that has not yet been realized.
                      </p>

                      <h3>Understanding Passion</h3>
                      <br />
                      <p>
                          Before we discuss further about how to awaken passion in ourselves, let's look at the definition of passion 
                          itself below! According to the Big Indonesian Dictionary (KBBI), passion means passion, enthusiasm, great desire, 
                          joy, emotion, anger and anxiety. Basically, the concept of passion is not ambition, desire, dream or wish. However, 
                          passion is something that begins with awareness. Passion is a person's desire to do something or an activity that he 
                          likes or considers important. Those who already have passion are willing to do various things to achieve something. 
                          In fact, they are willing to use their time, energy and thoughts to achieve something.
                      </p>
                      <p>
                          This is something we consider a passion. So if you find something or an activity that makes you ready to 
                          switch things up in your life, it means you've found a passion that you enjoy. 
                          According to Vallerand and Houlfard, passion is a strong tendency to perform pleasurable actions.
                      </p>
                      <h3> How to Awaken Passion in Us </h3>
                      <br />
                      <p>
                          Finding or identifying passion is not easy. In fact, it often takes a long time. Even for years. 
                          There are many cases where people do not know their passion until they are alive. 
                          Apart from encouraging you to do things with passion, we also discuss how to develop it.
                      </p>
                      <p>
                          Here are some ways to awaken passion in us :
                      </p>
                      <ul>
                          <li>
                              Find the motivation behind the decision
                          </li>
                          <li>
                              Discover your values and what you believe in
                          </li>
                          <li>
                              Look for patterns and themes in the answers to the questions you ask yourself
                          </li>
                          <li>
                              Don't commit yourself, commit to “ready but” behavior
                          </li>
                          <li>
                              Also think about what activities you have always wanted to do
                          </li>
                      </ul>
                      <p>
                          This fact shows the importance of passion in a career. Before you enter the world of work, 
                          you must recognize your passion from now on. This will make it easier for you later when you graduate 
                          and finally enter work, 
                          because working with passion is much more enjoyable than working without passion.
                      </p>
                      <h3> Conclusion </h3>
                      <br />
                      <p>
                          That's a brief discussion about how to awaken passion in yourself. This discussion not only discusses 
                          how to awaken passion in yourself, but also discusses the definition of passion, then discusses the types 
                          and benefits of passion itself. Finding out how to build passion within ourselves really helps us to more 
                          easily develop passion within ourselves and how to develop it so that it becomes something positive in our lives.
                      </p>
                      <p>
                          That's a review of how to awaken passion in yourself. For Grameds who want to learn everything about how 
                          to awaken passion 
                          in yourself and other knowledge related to psychology, you can visit Gramedia.com to get related books.
                      </p>
                    </div><!-- End post content -->    
                  </article><!-- End blog post -->
              </div>
          </div>
      </section>
  </div>

<%- include('../layout/footer') %>