    <footer id="footer" class="footer">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-12 footer-info">
                <a href="index.html" class="logo">
                <img src="./images/shuffLogo01.png" />
                </a>
            </div>

            <div class="col footer-links">
                <h4>Useful Links</h4>
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./pages/about.html">About</a></li>
                <li><a href="./pages/contact.html">Contact</a></li>
                <li><a href="./pages/portofolio.html">Portofolio</a></li>
                <li><a href="./pages/blog.html">Blog</a></li>
                <li><a href="./pages/booking.html">Booking</a></li>
                </ul>
            </div>

            <div class="col footer-links">
                <h4>Our Services</h4>
                <ul>
                <li><a href="#">Photograph</a></li>
                <li><a href="#">Drone</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Matterport</a></li>
                <li><a href="#">Content Creation</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    Jl. Jenderal Sudirman Blok Lot 11 No.Kav 58, RT.5/RW.3, Senayan,
                    Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota
                    Jakarta 12190<br />
                    Indonesia <br /><br />
                    <strong>Phone:</strong> +6289729345772<br />
                    <strong>Email:</strong> ShuffOfficial@gmail.com<br />
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Shuff</span></strong>. All Rights Reserved
        </div>
    </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i></a>


    <!-- Loader -->
    <div id="preloader"></div>
    <!-- . -->

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://kit.fontawesome.com/36bb6aa8cc.js"
    crossorigin="anonymous"
    defer
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/index.js"></script>

    </body>
</html>