@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital@1&display=swap');

/* Colors */
:root {
  --color-primary: #008374;
}


a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  background-color: var(--color-primary);
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
  width: 80px;
  height: 80px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: #f96f59;
}

.sticked-header-offset {
  margin-top: 70px;
}



.main-content {
  overflow-x: hidden;
}


/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
.sections-bg {
    background-color: #f6f6f6;
  }
  
.section-header {
    text-align: center;
  }
  
.section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
.section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background:var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
.section-header p {
    margin-bottom: 0;
    color: #6f6f6f;
  }

/*** 

Section booking list  

***/

.section-header-booking {
  text-align: center;
  padding-bottom: 60px;
}

.section-header-booking h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header-booking h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background:white;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header-booking p {
  margin-bottom: 0;
  color: #6f6f6f;
}

/** 
  
FORM 
  
**/

form {
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
  padding: 50px;
  margin-bottom: 20px;
}

.form-group {
  margin: 30px 0 30px 0;
}

.form-group label {
  margin-bottom: 10px;
}

.form-todo {
    width: 100%;
    height: 100%;
    background: #fff;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 0 10px 10px 0;
  }

.form-todo .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
.form-todo .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
  }
  
.form-todo input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
.form-todo input[type=text],
.form-todo input[type=date] {
    padding: 16px;
  }
  
.form-todo input[type=text]:focus,
.form-todo input[type=email]:focus {
    border-color: var(--color-primary);
  }

.submit {
  margin: 20px 0 20px 0;
}

  
.btn-submit {
  width: fit-content;
  border-radius: 10px;
  padding: 12px 24px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  font-size: 24px;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
}

.btn-submit:hover {
  background: #5F30E2;
  color: white;
}

  
/*--------------------------------------------------------------
# Order List
--------------------------------------------------------------*/

.container-order {
  background-color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-bottom: 20px;
  color: white;
}

.order-item {
  width: 100%;
  padding: 30px;
  color: #fff;
  border-radius: 16px;
  margin-top: 50px;
  background-color: #009282d9;
  display: flex;
  align-items: center;
}

.btn-trash {
    width: 40px;
    height: 40px;
    background: url(../images/trash.png);
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

  
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    background-color: var(--color-primary);
    padding: 50px 0;
    color: white;
  }
  
  .footer-info {
    display: flex;
    justify-content: center;
    padding-right: 80px;
  }
  
  .footer .footer-info .logo img {
    width: 250px;
    height: 250px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
  
  }
  
  .footer .footer-info p {
    font-size: 14px;
  
  }
  
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin: 30px 0 0 0;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
    margin-top: -6px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }
