<%- include('layout/header') %>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About</h2>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>Shuff Photo studio</h3>
          <img
            src="https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?auto=format&fit=crop&q=80&w=1471&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p>
              we created this website to provide photography services, and we show the photos we
              take in our portfolio, and here are some of the advantages of our photography 
              services:
            </p>
            <ul>
              <li>
                <span class="material-symbols-outlined">check_circle</span>
                Our photography is not expensive
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>
                Our photography will not disappoint
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>
                Our photography is fast
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>
                Our photography is simple
              </li>
            </ul>
            <p>
              We try to give our best when working and hopefully it meets your expectations, 
              but we will not take on work that is dangerous or detrimental to other people. If 
              our company is negligent in doing so, we will try to resolve or take responsibility 
              for it, which makes other people feel at a loss or something that feels dangerous
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<%- include('layout/footer') %>