<%- include('layout/header') %>


<section class="main-content">
    <div class="section-header">
      <h2>Booking Your Event</h2>
    </div>
    <div class="form-todo">

    <form action="/booking" id="form" method="post">
        <div class="col form-group">
          <label for="eventName">Name of the event</label>
          <input 
            class="form-control"
            type="text"
            name="eventName"
            id="eventName"
            placeholder="write your event name"
            required
          />
        </div>
        <div class="col form-group">
          <label for="date">Event date</label>
          <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <div class="col form-group">
            <label for="package">Select the package</label>
            <select class="form-select" name="package" aria-label="Default select example">
                <!-- <option selected>select package</option> -->
                <option value="Free plan">Free plan</option>
                <option value="Bussines plan">Bussines plan</option>
                <option value="Developer plan">Developer plan</option>
            </select>
        </div>
        <div class="submit">
          <input type="submit" value="Booking" name="Submit" class="btn-submit">
        </div>
    </form>
  </div>
  </section>

<%- include('layout/footer') %>