<%- include('layout/header') %>

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
      </div>

      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-4">
          <div
            class="info-container d-flex flex-column align-items-center justify-content-center"
          >
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0">
                <span class="material-symbols-outlined"> location_on </span>
              </i>
              <div>
                <h4>Location:</h4>
                <p>
                  Jl. Jenderal Sudirman Blok Lot 11 No.Kav 58, Kota Jakarta
                  Selatan, Daerah Khusus Ibukota Jakarta
                </p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0">
                <span class="material-symbols-outlined"> mail </span>
              </i>
              <div>
                <h4>Email:</h4>
                <p>ShuffOfficial@gmail.com</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0">
                <span class="material-symbols-outlined"> smartphone </span>
              </i>
              <div>
                <h4>Call:</h4>
                <p>+6289729345772</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-clock flex-shrink-0">
                <span class="material-symbols-outlined"> schedule </span>
              </i>
              <div>
                <h4>Open Hours:</h4>
                <p>Mon-Sat: 11AM - 22PM</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>
        </div>

        <div class="col-lg-8">
          <form action="<% baseURL %>/sendMessage" method="post" class="contact-form">
            <div class="row">
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="7"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <%- message%>

<%- include('layout/footer') %>