<%- include('layout/header') %>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg" onmouseleave="unview()">
      <div class="container" data-aos="fade-up">
        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">
          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>100<span> / take</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Professional PhotoGrapher</li>
                <li><i class="bi bi-check"></i> Photo Book</li>
                <li><i class="bi bi-check"></i> Futureistik Design</li>
                <li class="na">
                  <i class="bi bi-x"></i>
                  <span>Design Request</span>
                </li>
                <li class="na">
                  <i class="bi bi-x"></i>
                  <span>Photograph Assistance</span>
                </li>
              </ul>
              <div class="text-center">
                <a href="/booking" class="buy-btn">Book Now</a>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>

              <h4><sup>$</sup>300<span> / take</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Professional Photographer</li>
                <li><i class="bi bi-check"></i> Photo Book</li>
                <li><i class="bi bi-check"></i> Futureistik Design</li>
                <li><i class="bi bi-check"></i> Design Request</li>
                <li><i class="bi bi-check"></i> Photograph Assistance</li>
                <li><i class="bi bi-check"></i> Professional MakeUp</li>
              </ul>
              <div class="text-center">
                <a href="/booking" class="buy-btn">Book Now</a>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>200<span> / take</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Professional PhotoGrapher</li>
                <li><i class="bi bi-check"></i> Photo Book</li>
                <li><i class="bi bi-check"></i> Futureistik Design</li>
                <li><i class="bi bi-check"></i> Design Request</li>
                <li><i class="bi bi-check"></i> Photograph Assistance</li>
              </ul>
              <div class="text-center">
                <a href="/booking" class="buy-btn">Book Now</a>
              </div>
            </div>
          </div>
          <!-- End Pricing Item -->
        </div>
      </div>
    </section>
    <!-- End Pricing Section -->
    
    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">
      <div class="container-hero" id="container-hero">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">
              Welcome to SHUFF
            </h2>
            <p data-aos="fade-up" data-aos-delay="200">
              We are team of photo studio
            </p>
          </div>

          <div class="d-flex justify-content-center justify-content-lg-start">
            <button class="btn-get-started" onclick="view()">
              Booking Now
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <section class="shuff-photo-studio">
      <div class="container">
        <div class="section-header">
          <h2>Shuff Photo Studio</h2>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col content-shuff text-center">
            <div class="logo-shuff d-flex justify-content-center">
              <img src="/images/Shuff-logo03.png" />
            </div>
            <p>
              Shuff Photo Studio represents the ideas and passion shown through our quality and conceptual works. 
              We have a strong vision in creating the best visuals, enabling your brand to provide a special 
              experience to everyone. We provide documentation of photography and videography services with professional photographers + 
              videographers and complete equipment so that photos and videos can provide the best results for your company. 
              Contact us to get offers for photography + videography services in Jakarta at affordable prices.
            </p>
            </div>
          </div>
      </div>
    </section>


    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Services</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-camera"></i>
              </div>
              <h3>Photograph</h3>
              <p>
                Are you bored with your ordinary photos? you definitely need
                this
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-photo-film"></i>
              </div>
              <h3>Drone</h3>
              <p>
                Need to shoot photos or aerial videos? We have an offer tath
                suits you needs.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-video"></i>
              </div>
              <h3>Video</h3>
              <p>
                You need a video of property, event, or to shoot an interview?
                You might find your perfect offer with us.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-brands fa-unity"></i>
              </div>
              <h3>Matterport</h3>
              <p>
                Matterport is the most impressive technology ti create an
                immersive discover a place.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mobile-screen"></i>
              </div>
              <h3>Content Creation</h3>
              <p>Trust us for the results you want.</p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- End Our Services Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>

        <div class="row gy-4">
          <div
            class="col-xl-3 col-md-6 d-flex"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="member">
              <img
                src="/images/profile/Profile02.jpg"
                class="img-fluid"
                alt=""
              />
              <h4>Muhammad Rifki Hilman</h4>
              <span>Web Development</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div
            class="col-xl-3 col-md-6 d-flex"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="member">
              <img src="/images/profile/alfian.jpg" class="img-fluid" alt="" />
              <h4>Alfian</h4>
              <span>Marketing</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div
            class="col-xl-3 col-md-6 d-flex"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="member">
              <img src="/images/profile/wafif.jpg" class="img-fluid" alt="" />
              <h4>Wafi</h4>
              <span>Content</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div
            class="col-xl-3 col-md-6 d-flex"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="member">
              <img src="/images/profile/vivi.jpg" class="img-fluid" alt="" />
              <h4>Silviana Putri Afrisia</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
        </div>
      </div>
    </section>
    <!-- End Our Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                "Here you'll find a list of FAQ
                <br />
                but it's by no means all-encompassing. Please contact the studio
                with any questions not answered here!"
              </p>
            </div>
          </div>

          <div class="col-lg-8">
            <div
              class="accordion accordion-flush"
              id="faqlist"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1"
                  >
                    <span class="num">1.</span>
                    "What types of photography sessions do you offer?"
                  </button>
                </h3>
                <div
                  id="faq-content-1"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    If you're wondering what types of photography we offer, here
                    is a non-exhaustive list of ortrait services: Senior
                    Portraits, Kid Portraits, Newborn Portraits, Baby Portraits,
                    Family Portraits, Engagement Portraits, Wedding Portraits
                    (formal session, not event coverage), Headshot Portraits,
                    Executive Portraits, Business Portraits, Lifestyle
                    Portraits, Group Portraits, Location Portraits, Destination
                    Portraits, Pet Portraits, Painted Portraits (Digital Art),
                    Fine Art Portraits
                    <br />
                    We also offer commercial photographic services (most often
                    to small businesses in the local community, though we also
                    create product shots that are featured in trade magazines).
                    Branding Portraits, Commercial Photography - Interiors +
                    Exteriors, Commercial Photograph - Products.
                    <br />
                    Finally, our Fine Art Photography has been featured in local
                    coffee shops and other businesses in the Ann Arbor area. If
                    you'd like to learn more about having our art grace your
                    walls, we'd love to chat.
                  </div>
                </div>
              </div>
              <!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2"
                  >
                    <span class="num">2.</span>
                    "Do you have an actual photography studio?"
                  </button>
                </h3>
                <div
                  id="faq-content-2"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    Yes! SHUFF Photo Studio has a dedicated camera room,
                    complete with a full array of professional equipment. We've
                    photographed groups as large as 20 people before.
                  </div>
                </div>
              </div>
              <!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3"
                  >
                    <span class="num">3.</span>
                    "What if my child won't sit still, or is tired/cranky the
                    day of the session?"
                  </button>
                </h3>
                <div
                  id="faq-content-3"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    As a parent myself, I know how kids can be. During the
                    planning process, we'll work together to plan your session
                    around naptimes, during your child's most cheerful time of
                    day. Rest assured, if your kid is having a really off day,
                    it's okay to just give me a call so we can discuss
                    rescheduling options.
                    <br />
                    If you're concerned about your child sitting still, don't
                    be! We love working with wiggleworms, and have tricks for
                    handling all that glorious energy that comes with being a
                    kid.
                  </div>
                </div>
              </div>
              <!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4"
                  >
                    <span class="num">4.</span>
                    "Where are you located?"
                  </button>
                </h3>
                <div
                  id="faq-content-4"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    Jl. Jenderal Sudirman Blok Lot 11 No.Kav 58, RT.5/RW.3,
                    Senayan, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus
                    Ibukota Jakarta 12190 Indonesia
                  </div>
                </div>
              </div>
              <!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq-content-5"
                  >
                    <span class="num">5.</span>
                    "What if the weather is bad the day of my outdoor session?"
                  </button>
                </h3>
                <div
                  id="faq-content-5"
                  class="accordion-collapse collapse"
                  data-bs-parent="#faqlist"
                >
                  <div class="accordion-body">
                    If you're planning a location session, it's natural to think
                    about inclement weather. During the planning process, I'll
                    explain my typical contingency plan for location portraits,
                    which sets all of my clients at east.
                    <br />
                    In general, if the weather is bad, we will reschedule (or
                    decide on an alternate/indoor location).
                  </div>
                </div>
              </div>
              <!-- # Faq item-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->
<%- include('layout/footer') %>