<%- include('layout/header') %>

<section class="vh-80 m-5">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="/images/login-icon.svg"
            class="img-fluid" alt="Login">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form action="/login" method="post">
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" value="Rifki" id="username" name="username" class="form-control" required />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" value="rifki123" id="password" name="password" class="form-control" required />
                </div>

                <div class="pt-1 mb-4">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" style="background-color: #008374;" type="submit">Login</button>
                </div>

                <p class="mb-5 pb-lg-2">Don't have an account? 
                    <a href="/register"style="color: blue;">Register</a>
                </p>
                <a href="#!" class="small text-muted">Terms of use.</a>
                <a href="#!" class="small text-muted">Privacy policy</a>
              </form>
        </div>
      </div>
    </div>
  </section>
  
<%- include('layout/footer') %>