<%- include('layout/header') %>

<section class="main-content">
    <div class="section-header">
      <h2>Notes</h2>
    </div>
    <div class="form-todo">

    <form action="#" id="form">
      <div class="col form-group">
        <label for="text">Name</label>
        <input 
          class="form-control"
          type="text"
          name="name"
          id="name"
          placeholder="write your name"
          required
        />
      </div>
        <div class="col form-group">
          <label for="text">Enter what you note</label>
          <input 
            class="form-control"
            type="text"
            name="item"
            id="item"
            placeholder="write your note here"
            required
          />
        </div>
        <div class="col form-group">
          <label for="date">Enter the note date</label>
          <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <div class="submit">
          <input type="submit" value="Submit" name="Submit" class="btn-submit">
        </div>
    </form>
    <div class="container-order">
      <div class="section-header-booking">
        <h2>Notes List</h2>
      </div>   
      <div class="list-order" id="orders"></div>
    </div>
  </div>
</section>

<%- include('layout/footer') %>
