<%- include('layout/header') %>

<section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Portofolio</h2>
      </div>

      <div
        class="portfolio-isotope"
        data-portfolio-filter="*"
        data-portfolio-layout="masonry"
        data-portfolio-sort="original-order"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div>
          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-nature">Nature</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-prewedding">Prewedding</li>
            <li data-filter=".filter-concert">Concert</li>
          </ul>
          <!-- End Portfolio Filters -->
        </div>

        <div class="row gy-4 portfolio-container">
          <div id="photos"></div>
        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>

<%- include('layout/footer') %>

<script src="/js/portofolio.js"></script>